name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  cmop:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - run: cd cmop
    
    - name: Check
      run: cargo check --all-features
    - name: Format
      run: cargo fmt --all -- --check   
    - name: Clippy
      run: cargo clippy -- -D warnings
      
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
